.home {
	max-width: 100vw;
	min-height: 100vh;

	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(0, 212, 255, 0.8029586834733894) 100%
	);

	header {
		padding: 1rem 0;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;

		div {
			width: fit-content;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 1rem;
		}

		span {
			color: white;
			font-size: 24px;
			line-height: 32px;
			font-weight: 700;
		}

		svg {
			width: 24px;
		}
	}
}
